<div *ngIf="tipoJoya.id===0">
  <app-portada></app-portada>
</div>
  <div class="galeria">
      <div *ngFor="let articulo of articulos"  >
        <div *ngIf="tipoJoya">
          <div *ngIf="tipoJoya.id === articulo.tipo; then thenBlock"></div>
        </div>

        <ng-template #thenBlock  >
          <div class="galeryElement">
            <a target="_blank" href="https://wa.me/+5493624309549/?text=Me%20interesa%20este%20producto:%20{{articulo.link}}">
            <img src= "{{articulo.link}}"></a>
            <P> <b>Materiales:</b> {{articulo.materiales}}.</P>
            <p> <b>Precio: $</b>{{utilidad * articulo.precio}}</p>
          </div>
        </ng-template>

      </div>
    </div>
<!--
<div *ngFor="let galeryElement of galery">
  <div *ngIf="galeryElement.tipo === clickHeaderTipo; then thenBlock"></div>
    <ng-template #thenBlock [galeryElement] = "galeryElement">
      <app-galery-element class="galery"
        [galeryElement] = "galeryElement">
      </app-galery-element>
    </ng-template>
  </div>
-->
