h2{
  color: white;
  text-decoration: underline;
  text-align:center;
}
div a{
  text-decoration: none;
  color: white;
  margin-left:15px;
  padding:15px;

}

div a:hover{
  text-decoration:underline;
  color: black;

}



img{
  margin-bottom:20px;
}

