<h2>Nuestras Redes</h2>
<a href="https://www.instagram.com/amatista.joyas1/?hl=es" target="_blank"><img style="vertical-align: middle" src="/assets/instagram.png" alt="instagram">@amatista.joyas1</a>
<br>
<a href="https://www.facebook.com/AmatistaJoyasRcia/" target="_blank"><img style="vertical-align: middle" src="/assets/facebook.png" alt="facebook"> @Amatista.joyas.Resistencia</a><br>
<a href="https://wa.me/+5493624309549/?text=Me%20interesa%20coordinar%20una%20cita" target="_blank"><img style="vertical-align: middle" src="/assets/whatsapp.png" alt="whatsapp">Coordinar Una Cita</a>
