<div class="portada">
  <h2>NUESTROS PRODUCTOS</h2>
  <br>
  <h5>Selecciona en el menú superior el tipo de productos, para visualizarlos en esta sección.</h5>
  <div class="imagen"><a href="#"><img src="assets/portada.jpg" alt="Amatista Joyas."></a></div>
  <p>Contactanos por nuestras redes, seleccioná  , dispoemos de una amplia variedad de productos y ofrecemos todas las formas de pago</p>
  <p> Envios gratis en toda la ciudad de Resistencia </p>
  <br>
  <p> 1.- Navegá por nuestras secciones y elegí tu producto. <br>
      2.- Nos contactas por Whatsapp, haciendo click en el icono. <img src="assets/whatsapp.png"> o en la imagen del producto elegido.<br>
      3.- Te llevamos el producto a tu dirección. <br>
      4.- Abonas al recibir el producto, en efectivo, tarjetas de credito o debito, transferencia bancaria o Mercado Pago </p>

</div>
